<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
</head>

<body>
    <h1 style="color:green"><u>All Items</u></h1>
    <a href="/items/new">Add new item</a>
    <ul>
        <% for(let item of items) {%>
            <% if(item.name !=="" ) { %>
                <h2>
                    <%=item.name %>
                </h2>
                <li>
                    <%=item.type %>
                </li>
                <li>
                    <%=item.color %>
                </li>
                <% } %>
                    <% }%>
    </ul>

</body>

</html>